<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121009649221-eamjm655t63vi0e9e39rnr7b3elkrlej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121009649221-eamjm655t63vi0e9e39rnr7b3elkrlej</string>
	<key>API_KEY</key>
	<string>AIzaSyBBWAvMHoQ-c9dQSmsY-mAWwSX5NLwQGVU</string>
	<key>GCM_SENDER_ID</key>
	<string>121009649221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>IKEchannel.MyHazardMapApp</string>
	<key>PROJECT_ID</key>
	<string>hazardmapapp</string>
	<key>STORAGE_BUCKET</key>
	<string>hazardmapapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121009649221:ios:37439557bcb657d5bd952c</string>
</dict>
</plist>